:root
	--main-color: #2EB0EC
	--btn-color: #53A0DB
	--btn-second-color: #66D4F4
	--text-color: #ffffff
	--title-color: #494949
	--desc-color: #7C7C7C

$mainColor: var(--main-color)
$btnColor: var(--btn-color)
$btnSecondColor: var(--btn-second-color)
$textColor: var(--text-color)
$titleColor: var(--title-color)
$descColor: var(--desc-color)

$width: 1600px

$phone: 480px
$tablet: 768px
$laptop: 992px
$desktop: 1200px
$wideScreen: 1400px